@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;700&display=swap');

$white-color: #ffffff;
$main-color: #212529;
$text-color: #6c757d;
$second-color: #ff6b6b;
$font: 'Hind Siliguri', sans-serif;
$shadow: 0px 0px 6px 0px rgba(0, 0, 0, .3);
$button-shadow: 0px 0px 6px 2px $second-color;
$radius: 10px;

@function font($base) {
   @return ($base * 100%) / 16;
}
////
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin: 0;
}

p {
    font-family: $font;
    margin: 0;
    margin-bottom: 15px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
    font-size: 16px;
    font: 400 16px/1 $font;
}

#app {
    height: 100vh;
    min-height: 650px;
    margin: 0 auto;
    background-color: $white-color;
    background-image: url('assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main {
    background-color: #212529;
    border-radius: 1rem;
    height: 75vh;
    min-height: 600px;
    width: 75%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .3);
    position: relative;
    padding: 4vw;
    @media screen and (max-width: 1300px) {
        width: 90%;
        padding: 2vw;
        overflow-y: auto;
    }
    @media screen and (max-width: 770px) {
        padding: 15px;
    }
}
// 45
.nav {
    height: 80%;
    width: 70px;
    background-color: inherit;
    border-radius: 10px;
    padding: 150px 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% - 25px);
    box-shadow: $shadow;
    &__list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @media  screen and (max-width: 1300px) {
            flex-direction: row;
            justify-content: center;
        }
    }
    &__items {
        &:not(:last-child) {
            margin-bottom: 5px;
            @media  screen and (max-width: 1300px) {
                margin-bottom: 0;
                margin-right: 25px;
            }
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            width: 45px;
            height: 45px;
            background-color: #272b30;
            text-decoration: none;
            color: $second-color;
            padding: 5px;
            border-radius: $radius;
            transition: all .3s;
            &.active { 
                color: #272b30;
                box-shadow: $button-shadow;
                background-color: $second-color;
            }
            &:hover {
                transition: all .3s;
                background-color: $second-color;
                color: #272b30;
                box-shadow: $button-shadow;
            }
        }
    }
    @media  screen and (max-width: 1300px) {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: auto;
        transform: none;
        height: 80px;
        width: 100%;
        padding: 5px;
        z-index: 9999;
    }
}

.main-screen {
    position: relative;
    height: 100%;
    .short-text {
        position: absolute;
        left: 0;
        top: 0px;
        color: $white-color;
        margin: 0;
        font-size: 14px;
        @media screen and (max-width: 470px) {
            font-size: 11px;
        }
    }
    & > .row {
        height: 100%;
    }
    .wrapper-title {
        margin-bottom: 10px;
        color: $white-color;
        p {
            font-size: 125%;
            margin: 0;
            font-weight: 400;
            color:$second-color;
            text-transform: uppercase;
        }
        h1 {
            color: inherit;
            font: 500 250%/1.25 $font;
            text-transform: uppercase;
         }
         h4 {
            font: 500 150%/1.25 $font;
            span {
                color: $second-color;
            }
         }
    }
    p {
        color: #6c757d ;
        font: 500 95%/1.5 $font;
        margin-bottom: 30px;
    }
}

.avatar {
    border-radius: 50%;
    border: 6px solid $second-color;
    padding: 10px;
    margin: 3rem 0 3rem auto;
    width: 280px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @media  screen and (max-width: 770px) {
        margin: 1.5rem auto;
        width: 250px;
        height: 250px;
    }
    img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.button {
    color: #212529;
    background-color: $second-color;
    font: 500 font(14)/1 $font;
    padding: 10px 20px;
    border-radius: 100px;
    user-select: none;
    display: inline-flex;
    i {
        color: #212529;
        font-size: 16px;
        font-weight: bold;
        vertical-align: middle;
        margin-right: 5px;
    }
    &:hover {
        box-shadow: $button-shadow;
    }
}

.decor-title {
    text-transform: capitalize;
    font-size: 110%;
    color: $second-color;
    font-weight: 700;
    line-height: 1;
    overflow: hidden;
    margin-bottom: 20px;
    span {
        position: relative;
    }
    span::after {
        content: "";
        position: absolute;
        left: 115%;
        top: 50%;
        transform: translateY(-50%);
        width: 500px;
        border: 1px solid $second-color;
    }
}
.contact {
    &__list {
        margin-bottom: 15px;
    }
    &__items {
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
        a {
            display: block;
            color: #bbbbbb;
            font-size: 80%;
            font-weight: 400;
            font-family: $font;
            &:hover {
                i {
                    background-color: $second-color;
                    color: #272b30;
                    transition: all .2s;
                }
            }
        }
        i {
            $size: 35px;
            display: inline-block;
            font-weight: bold;
            font-size: 20px;
            height: $size;
            width: $size;
            background-color: #272b30;
            color: $second-color;
            vertical-align: middle;
            text-align: center;
            line-height: $size;
            border-radius: 50%;
            margin-right: 10px;
            transition: all .25s;
        }
    }
}
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 2rem;
    @media  screen and (max-width: 850px) {
        padding: 0;
        margin-bottom: 30px;
    }
}

.about {
    height: 100%;
    padding: 50px 0;
    position: relative;
    .decor-title {
        font-size: 150%;
    }
    .content-text {
        padding: 20px 0;
    }
    table {
        margin-bottom: 2rem;
        th, td {
            font-size: 85%;
            font-weight: 500;
            font-family: $font;
            text-align: left;
            padding: .6rem 1rem;
        }
        th {
            text-transform: capitalize;
            color: #c5c5c5;
        }
        td {
            color: $second-color
        }
    }
    .avatar {
        $size: 350px;
        border-radius: 20px;
        max-width: $size;
        width: auto;
        height: auto;
        margin: 0;
        border-width: 4px;
        @media screen and (max-width: 770px) {
            margin: 10px auto;
        }
        img {
            border-radius: 8px;
        }
    }
}
.page-title {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 900;
    font-size: 200%;
    font-family: $font;
    color: $white-color;
    @media screen and (max-width: 1300px) {
        position: relative;
        transform: none;
        left: auto;
        text-align: center;
    }
    span {
        color: $second-color;
    }
}

.resume {
    position: relative;
    height: 100%;
    padding: 50px 0;
    .decor-title {
        font: 900 150%/1.25 $font;
    }
}
.prof {
    h3 {
        font: 900 150%/1.25 $font;
        color: $second-color;
        margin-left: 20px;
        padding-left: 35px;
        position: relative;
        &.education {
            &::before {
                content: "\e904";
            }
        }
        &.experience {
            &::before {
                content: "\e903";
            }
        }
        &::before {
            font-family: 'icomoon' !important;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            position: absolute;
            left: 0;
            top: 3px;
        }
    }
    &__list {
        padding: 10px 20px;
        margin: 20px 0;
        position: relative;
        &::before {
            content: '';
            width: 2px;
            background-color: $second-color;
            height: 100%;
            position: absolute;
            left: 7px;
            top: 0;
        }
    }
    &__items {
        position: relative;
        
        h4 {
            font-size: 100%;
            font-weight: 700;
            color: #c5c5c5;
            font-family: $font;
            line-height: 1.25;
        }
        .years {
            font: 700 75%/1.5 $font;
            color: $second-color;
        }
        p {
            color: #6c757d;
            font: 700 75%/1.5 $font;
        }
        &::after {
            content: '';
            width: 15px;
            height: 15px;
            background-color: $second-color;
            position: absolute;
            left: -20px;
            top: 0px;
            border-radius: 50%;
        }
    }
}

.develop {
    &:not(:last-child) {
        margin-bottom: 15px;
    }
    h4 {
        font: 900 80%/1 $font;
        color: #c5c5c5;
        margin-bottom: 10px;
        text-transform: capitalize;
        span {
            font-size: 10px;
            color: $second-color;
        }
    }
    &__bg {
        height: 10px;
        background-color: #272b30;
        border-radius: 10px;
        overflow: none;
    }
    &__progress {
        height: 100%;
        width: 50%;
        background-color: $second-color;
        border-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}
.wrraper-proccesin {
    margin-bottom: 20px;
}